
<!--...................................Food Section End................................................... -->
 <footer class="footer">
 
 <div class="aboutSection">
     <div class="Set">
         <h3 class="Active">Food Ordering System</h3>
         <div class="subSet">
              <a href="#">Order Delevery</a>
         </div>
        
     </div>
     <div class="Set">
         <h3>About Us</h3>
         <div class="subSet">
              <a href="#">About us</a>
              <a href="#">Contact us</a>
         </div>
        
     </div> 
     <div class="Set">
         <h3>My Account</h3>
         <div class="subSet">
         <a href="#">My Profile</a>
         <a href="#">My Cart</a>
         <a href="#">My order</a>
         </div>
        
     </div>
     <div class="Set">
         <h3>Track Order</h3>
         <div class="subSet">
             <a href="#">Track Order</a>
     </div>
         </div>
         
     <div class="Set">
         <h3>Admin</h3>
         <div class="subSet">
             <a href="#">Login</a>
         </div>
         
     </div>
 </div>
</footer>

 <!-- link to Java Script -->
 <script src="js/home.js"></script>
 <script src="js/RegisterForm.js"></script>
 <script defer src="fontaweb/js/all.js"></script>
 <script src="https://use.fontawesome.com/0452823e87.js"></script>
</body>
</html>
