<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=rootTitle%></title> 
    <!--Favicon link-->

	<link rel="icon" href="bglogo/favicon.ico">
    <!-- Style Sheet link -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/regstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/menustyle.css">
    <link rel="stylesheet" type="text/css" href="/css/cartstyle.css">
    <link rel="stylesheet" type="text/css" href="/css/profilestyle.css">
    <!-- Link to font-awsome -->
    <link rel="stylesheet" href="fontaweb/css/all.css">
    <!-- Link to Google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Delius Swash Caps|Della Respira|Fontdiner Swanky' rel='stylesheet'>
    <!-- https://www.w3schools.com/howto/howto_google_fonts.asp -->
    <!-- JQuery CDN link -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.js"></script> -->
    
   
</head>
<body>