<%-include('partials/header');-%>
<%-include('navBar');-%>
<div class="Menu-bar">
    <a class="line" href="/">Home</a>
    <p class="line">/</p>
    <a class="line" href="#">Cart</a>
    <p class="line">/</p>
    <a class="line" href="#">Cart Details</a><hr>
</div>
<%-include('sideBarSort');-%>
<div style="width:20%;height:20vh">

</div>
<%-include('partials/footer');-%>