<!-- ...................................NavBar......................................................... -->
<header>
	<nav id="navbar">
		<div class="logo list"><p>Food Ordering System</p></div>
		<div class="list content">
		<a href="/" active>Home</a>
		<a href="foodmenu">Food Menu</a>
		<a href="sigup">Signup</a>
		<a href="sigin">Sigin</a>
		<a href="trackOrder">Track Order</a>
		<div class="list dropdown">
			<a class="link-btn">My Account <i class="fas fa-caret-down"></i> </a>
			<div class="link-down"  id="myDropDown">
				<a href="#" >Setting</a>
				<a href="#" >Profile</a>
				<a href="#" >Logout</a>
			</div>             
		</div>          
		</div>       
	</nav>
</header>
<!-- ........................................End of NavBar................................................ -->